In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv(r"D:\air delay advance\Flight_delay.csv")

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 484551 entries, 0 to 484550
Data columns (total 29 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   DayOfWeek          484551 non-null  int64
 1   Date               484551 non-null  object
 2   DepTime            484551 non-null  int64
 3   ArrTime            484551 non-null  int64
 4   CRSArrTime         484551 non-null  int64
 5   UniqueCarrier      484551 non-null  object
 6   Airline            484551 non-null  object
 7   FlightNum          484551 non-null  int64
 8   TailNum            484551 non-null  object
 9   ActualElapsedTime  484551 non-null  int64
 10  CRSElapsedTime     484551 non-null  int64
 11  AirTime            484551 non-null  int64
 12  ArrDelay           484551 non-null  int64
 13  DepDelay           484551 non-null  int64
 14  Origin             484551 non-null  object
 15  Org_Airport        483374 non-null  object
 16  Dest               484551 non-null  object
 17  Dest_Airport       483072 non-null  object
 18  Distance           484551 non-null  int64
 19  TaxiIn             484551 non-null  int64
 20  TaxiOut            484551 non-null  int64
 21  Cancelled          484551 non-null  int64
 22  CancellationCode   484551 non-null  object
 23  Diverted           484551 non-null  int64
 24  CarrierDelay       484551 non-null  int64
 25  WeatherDelay       484551 non-null  int64
 26  NASDelay           484551 non-null  int64
 27  SecurityDelay      484551 non-null  int64
 28  LateAircraftDelay  484551 non-null  int64
dtypes: int64(20), object(9)
memory usage: 107.2+ MB

In [4]:
df.isnull().sum()

DayOfWeek               0
Date                    0
DepTime                 0
ArrTime                 0
CRSArrTime              0
UniqueCarrier           0
Airline                 0
FlightNum               0
TailNum                 0
ActualElapsedTime       0
CRSElapsedTime          0
AirTime                 0
ArrDelay                0
DepDelay                0
Origin                  0
Org_Airport          1177
Dest                    0
Dest_Airport         1479
Distance                0
TaxiIn                  0
TaxiOut                 0
Cancelled               0
CancellationCode        0
Diverted                0
CarrierDelay            0
WeatherDelay            0
NASDelay                0
SecurityDelay           0
LateAircraftDelay       0
dtype: int64

In [5]:
df.dropna(inplace=True)

In [6]:
df.isnull().sum()

DayOfWeek            0
Date                 0
DepTime              0
ArrTime              0
CRSArrTime           0
UniqueCarrier        0
Airline              0
FlightNum            0
TailNum              0
ActualElapsedTime    0
CRSElapsedTime       0
AirTime              0
ArrDelay             0
DepDelay             0
Origin               0
Org_Airport          0
Dest                 0
Dest_Airport         0
Distance             0
TaxiIn               0
TaxiOut              0
Cancelled            0
CancellationCode     0
Diverted             0
CarrierDelay         0
WeatherDelay         0
NASDelay             0
SecurityDelay        0
LateAircraftDelay    0
dtype: int64

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 481895 entries, 0 to 484550
Data columns (total 29 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   DayOfWeek          481895 non-null  int64
 1   Date               481895 non-null  object
 2   DepTime            481895 non-null  int64
 3   ArrTime            481895 non-null  int64
 4   CRSArrTime         481895 non-null  int64
 5   UniqueCarrier      481895 non-null  object
 6   Airline            481895 non-null  object
 7   FlightNum          481895 non-null  int64
 8   TailNum            481895 non-null  object
 9   ActualElapsedTime  481895 non-null  int64
 10  CRSElapsedTime     481895 non-null  int64
 11  AirTime            481895 non-null  int64
 12  ArrDelay           481895 non-null  int64
 13  DepDelay           481895 non-null  int64
 14  Origin             481895 non-null  object
 15  Org_Airport        481895 non-null  object
 16  Dest               481895 non-null  object
 17  Dest_Airport       481895 non-null  object
 18  Distance           481895 non-null  int64
 19  TaxiIn             481895 non-null  int64
 20  TaxiOut            481895 non-null  int64
 21  Cancelled          481895 non-null  int64
 22  CancellationCode   481895 non-null  object
 23  Diverted           481895 non-null  int64
 24  CarrierDelay       481895 non-null  int64
 25  WeatherDelay       481895 non-null  int64
 26  NASDelay           481895 non-null  int64
 27  SecurityDelay      481895 non-null  int64
 28  LateAircraftDelay  481895 non-null  int64
dtypes: int64(20), object(9)
memory usage: 110.3+ MB

In [8]:
df["CancellationCode"].info()

<class 'pandas.core.series.Series'>
Index: 481895 entries, 0 to 484550
Series name: CancellationCode
Non-Null Count   Dtype
--------------   -----
481895 non-null  object
dtypes: object(1)
memory usage: 7.4+ MB

In [9]:
target = 'DepDelay'
X = df.drop(columns=[target])
y = df[target]

In [10]:
from sklearn.preprocessing import LabelEncoder

In [11]:
label_encoders = {}
for col in X.select_dtypes(include='object').columns:
    le = LabelEncoder()
    X[col] = le.fit_transform(X[col])
    label_encoders[col] = le

In [12]:
X.head()

,DayOfWeek,Date,DepTime,ArrTime,CRSArrTime,UniqueCarrier,Airline,FlightNum,TailNum,ActualElapsedTime,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,4,12,1829,1959,1925,11,9,3920,1176,90,...,3,10,0,0,0,2,0,0,0,32
1,4,12,1937,2037,1940,11,9,509,2632,240,...,3,7,0,0,0,10,0,0,0,47
2,4,12,1644,1845,1725,11,9,1333,577,121,...,6,8,0,0,0,8,0,0,0,72
3,4,12,1452,1640,1625,11,9,675,428,228,...,7,8,0,0,0,3,0,0,0,12
4,4,12,1323,1526,1510,11,9,4,2281,123,...,4,9,0,0,0,0,0,0,0,16

In [13]:
from sklearn.model_selection import train_test_split,GridSearchCV

In [14]:
X_train, X_test, y_train, y_test = train_test_split(X, y,test_size=0.2,random_state=42)

In [15]:
from sklearn.preprocessing import StandardScaler

In [16]:
sc=StandardScaler()

In [17]:
X_train_scaled=sc.fit_transform(X_train)

In [18]:
X_test_scaled=sc.fit_transform(X_test)

In [19]:
from xgboost import XGBRegressor
from sklearn.ensemble import RandomForestRegressor
from catboost import CatBoostRegressor

In [20]:
xgb_model = XGBRegressor(n_estimators=100, learning_rate=0.1, max_depth=6, random_state=42, n_jobs=-1)
rf_model = RandomForestRegressor(n_estimators=100, random_state=42, n_jobs=-1)
cat_model = CatBoostRegressor(iterations=100, learning_rate=0.1, depth=6, verbose=0, random_state=42)

In [21]:
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

In [22]:
def evaluatemodel(name,model,X_train,X_test,y_train,y_test):
    model.fit(X_train,y_train)
    y_pred=model.predict(X_test)
    mae=mean_absolute_error(y_test,y_pred)
    rmse=np.sqrt(mean_squared_error(y_test,y_pred))
    r2=r2_score(y_test,y_pred)
    print(f"Name of the model : {name}")
    print(f"mean absulute error : {mae}")
    print(f"Root mean squred error : {rmse}")
    print(f"R2 Score : {r2}")

In [23]:
evaluatemodel("XGBoost",xgb_model,X_train_scaled,X_test_scaled,y_train,y_test)

Name of the model : XGBoost
mean absulute error : 3.395015001296997
Root mean squred error : 7.8747691771572494
R2 Score : 0.9798089265823364

In [24]:
evaluatemodel("Random forest",rf_model,X_train_scaled,X_test_scaled,y_train,y_test)

Name of the model : Random forest
mean absulute error : 2.6201170379439502
Root mean squred error : 5.319628028140223
R2 Score : 0.9907860496223263

In [25]:
evaluatemodel("CatBoost",cat_model,X_train_scaled,X_test_scaled,y_train,y_test)

Name of the model : CatBoost
mean absulute error : 4.597770734636111
Root mean squred error : 6.998817688103266
R2 Score : 0.9840510278623952

In [26]:
from sklearn.ensemble import StackingRegressor

In [27]:
ensemble = StackingRegressor(
    estimators=[
        ('xgb', xgb_model),
        ('rf', rf_model),
        ('cat', cat_model)
    ],
    final_estimator=XGBRegressor(n_estimators=50, learning_rate=0.05, max_depth=4, random_state=42),
    passthrough=True,
    n_jobs=-1
)

In [ ]:
# Train ensemble
ensemble.fit(X_train_scaled, y_train)

# Evaluate
y_pred = ensemble.predict(X_test_scaled)
mae = mean_absolute_error(y_test, y_pred)
rmse = np.sqrt(mean_squared_error(y_test, y_pred))
r2 = r2_score(y_test, y_pred)

📊 Ensemble Model Performance:
MAE:  4.15
RMSE: 9.78
R²:   0.97

In [29]:
print("\n📊 Ensemble Model Performance:")
print(f"MAE:  {mae}")
print(f"RMSE: {rmse}")
print(f"R²:   {r2}")

📊 Ensemble Model Performance:
MAE:  4.150201320648193
RMSE: 9.77855043055714
R²:   0.9688661694526672